.buyerFilter {
    justify-content: space-between;
    align-items: center;
    display: flex;

    .buyersHd {
        font-size: 24px;
        font-weight: 600;
    }

    .buyersFlt {
        .fltrInp {
            display: inline-block;
            vertical-align: top;
            width: 300px;

            input {
                border: 1px solid #D8D8D8;
                border-radius: 6px;
                height: 46px;
                width: 100%;
                box-shadow: none;
            }
        }

        button.fltrBtn {
            width: 46px;
            height: 46px;
            border: 1px solid #D8D8D8;
            border-radius: 6px;
            background: #efefef;
            color: #000;
            font-size: 21px;
            line-height: 28px;
            margin-left: 10px;
        }
    }
}

.idoTable {
    background: #fff;
    border-radius: 6px;

    table {
        th {
            &:first-child {
                border-radius: 6px 0 0 0;
            }

            &:last-child {
                border-radius: 0 6px 0 0;
            }
        }

        tr {
            &:last-child {
                td {
                    border-bottom: 0;

                }
            }
        }
    }
}

button.actionBtn {
    background: #efefef;
    color: #000;
    width: 30px;
    height: 30px;
    border: 0;
    padding: 0;
    line-height: 26px;
    position: relative;

    &:hover {
        background: #000;

        .actionList {
            display: block;
        }
    }

    .actionList {
        position: absolute;
        left: -150px;
        width: 140px;
        background: #fff;
        box-shadow: #efefef 0 0 5px 0;
        top: 0;
        text-align: left;
        border-radius: 6px;
        display: none;

        &:after {
            content: '';
            position: absolute;
            right: -10px;
            border-top: transparent solid 10px;
            border-bottom: transparent solid 10px;
            border-left: #efefef solid 10px;
            top: 5px;
        }

        li {
            display: block;

            a {
                display: block;
                text-decoration: none;
                color: #666;
                padding: 5px 10px;
                border-bottom: #efefef solid 1px;
                font-size: 14px;

                &:hover {
                    color: #0099ff;
                }
            }

            &:last-child {
                a {
                    border-bottom: 0;
                }
            }
        }
    }
}

.activeBtn {
    background: #108510;
    width: 100px;
    height: 32px;
    line-height: 32px;
    padding: 0;
    border: 0;

    &:hover {
        background: #000;
    }
}

.greenClr {
    color: #309C5A !important;
}

.suspendBtn {
    background: #ff0000;
}

.paginationBx {
    li.page-item {
        margin-right: 5px;

        a.page-link {
            width: 32px;
            height: 32px;
            line-height: 30px;
            border: #979797 solid 1px;
            border-radius: 6px;
            display: block;
            text-align: center;
            padding: 0;
            color: #979797;

            &:hover,
            &.active {
                background: #E0E21A;
                border: #E0E21A solid 1px;
                color: #000;
            }
        }

        .nextBtn {
            width: 70px !important;
            background: #efefef;
            color: #000 !important;

            &:hover {
                background: #666 !important;
                color: #fff !important;
                border: #666 solid 1px !important;
            }
        }
    }
}

button.purchaseBtn {
    background: #E0E21A;
    width: 100px;
    height: 32px;
    line-height: 32px;
    padding: 0;
    border: 0;
    color: #000;

    &:hover {
        background: #000;
        color: #fff;
    }
}